body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header{
    background-color: #1F2937;
    font-size: large;
    color: white;


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;

}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 8px;

}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    background-color: #1F2937;
    color: white;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 100px;

}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.text{
    max-width: 500px;
}

.text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}


.image {
    background-color: #6b7280;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1d5db;
    font-size: 18px;
}

.button{
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: deepskyblue;
    padding: 10px 24px;
    cursor: pointer;

}


.box-section{
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.title{
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image2{
    width: 150px;
    height: 150px;
    background-color: white;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px


}

.info {
    max-width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.section2-text {
    text-align: center;
    max-width: 250px;
}

.quote-section{
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 80px 200px;



    font-style: italic;

}

.section3-text{
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 36px;
    color: #1f2937;

}

.quote-author{
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #1f2937;

    align-self: flex-end;
}

.add-wrapper {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: white;
}

.add-section{
    color: white;
    background-color: #3882f6;
    padding: 20px 0px;
    border-radius: 8px;
    width: 900px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
}

.add-text p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.add-button{

    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 32px;
}

.footer{
    font-size: 12px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;    color: white;
    padding: 20px 0;
}